
div.bordered {
	border: 3px dotted #f4f1d0;
	padding: 3px 3px 3px 3px;
}

img.shrinkedALot {
	max-width: 45%;
}

img.shrinked {
	max-width: 65%;
}

img.shrinkedLittle {
	max-width: 75%;
}

img.shrinkedTiny {
	max-width: 85%;
}

div.alignRight {
	text-align: right;
}


table.tableSlideContent td {
	width: 49%;
	vertical-align: middle;
}

a.tiny {
	font-size: 50%;
}

.white {
	color: #f4f1d0;
}

h3.white {
	color: #f4f1d0;
}

div.roshi {
	background: url(roshi2.png);
    position: absolute;
    bottom: 50px;
    right: -200px;
    width: 206px;
    height: 295px
}

