

div.bordered {
	border: 3px dotted black;
	padding: 3px 3px 3px 3px;
}

img.shrinked {
	max-width: 65%;
}


div.alignRight {
	text-align: right;
}


table.tableSlideContent td {
	width: 49%;
	vertical-align: middle;
}

a.tiny {
	font-size: 50%;
}

